<h1>Hello <%= name %></h1>
<div id="player"></div>

<script>
  var m = new jscw();
  m.setWpm(30);
  m.setEws(3);
  m.setText("hello nick <SK>");
  m.renderPlayer('player', m);
</script>

<hr>
<br>


<a href="https://fkurz.net/ham/jscwlib.html">jscwlib - homepage</a>
